* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff6f47;
  color: white;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(11, 212, 162);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 12rem;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/

/* lyrics list */
a {
  text-decoration: none;
}

.btn {
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 8px;
  background: #f7be73;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.results {
  width: 50%;
  margin: 0 auto;
}

.results ul {
  list-style: none;
  padding: 0;
}

.results li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  box-shadow: 0px 4px 7px 0 rgb(138 155 165 / 28%);
  border-radius: 3px;
  margin: 0.5em;
  background: #ff8336;
}

.results li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.results .btn {
  padding: 0.5em;
  border-radius: 3px;
}

.pagination {
  padding: 1em;
  margin: 2em;
  text-align: center;
}

.pagination .btn {
  min-width: 80px;
  width: 100%;
  max-width: 80px;
  display: inline-block;
  background: #ef7325;
}
/* spinner start  */
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: '';
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* spinner end */

/* overlay start  */

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
  overflow: auto;
  height: 100%;
  max-height: 450px;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
} */

p {
  color: #000;
}

/* overlay end */

/* media query */
@media only screen and (max-width: 600px) {
  form input,
  form button {
    font-size: 1.5em;
  }
  .section {
    padding: 3em 0;
  }

  .results {
    width: 100%;
  }

  .results li {
    display: flex;
    flex-direction: column;
    padding: 0.75em 1em;
    align-items: center;
  }

  .results li p {
    white-space: normal;
  }

  .results .btn {
    font-size: 0.8em;
  }
  .modal {
    max-height: 100%;
  }
}
/* media query */
